In [15]:
from pandas_datareader import data
import matplotlib.pyplot as plt
import pandas as pd
import pickle

In [9]:
tickers = ['AAPL', 'MSFT', 'GOOG']

# We would like all available data from 01/01/2000 until 12/31/2016.
start_date = '2015-01-01'
end_date = '2017-01-01'

# User pandas_reader.data.DataReader to load the desired data. As simple as that.
panel_data = data.DataReader(tickers, 'iex', start_date, end_date)

In [10]:
panel_data

Attributes      open                       high                          low  \
Symbols         AAPL    GOOG     MSFT      AAPL      GOOG     MSFT      AAPL
date
2015-01-02  103.8847  529.01  42.5088  103.9313  531.2700  43.2012  100.1169
2015-01-05  100.9936  523.26  42.2446  101.3293  524.3300  42.5725   98.3076
2015-01-06   99.3615  515.00  42.2537  100.1915  516.1750  42.5899   97.5802
2015-01-07   99.9770  507.00  41.8893  100.9096  507.2440  42.3266   99.5060
2015-01-08  101.8702  497.99  42.5908  104.5935  503.4800  43.5017  101.3759
2015-01-09  105.0784  504.76  43.3743  105.6194  504.9200  43.5656  102.7842
2015-01-12  105.0131  494.94  43.2012  105.0411  495.9760  43.3105  101.4692
2015-01-13  103.9220  498.84  42.7912  105.1997  502.9800  43.6476  101.5718
2015-01-14  101.6930  494.65  41.8710  103.0453  503.2300  42.1261  101.1894
2015-01-15  102.5883  505.57  42.1079  102.6443  505.6800  42.2537   99.4734
2015-01-16   99.8184  500.01  41.2789  100.3314  508.1900  42.1626   98.1118
2015-01-20  100.5739  511.00  42.1808  101.6247  512.5000  42.4997   99.3242
2015-01-21  101.6091  507.25  41.8528  103.5769  519.2800  42.0350  100.9749
2015-01-22  102.8308  521.48  42.2537  104.8919  536.3300  42.9415  102.3272
2015-01-23  104.7334  535.59  43.1465  106.0857  542.1700  43.1738  104.0152
2015-01-26  106.0763  538.53  42.8185  106.6570  539.0000  42.9405  105.1997
2015-01-27  104.8453  529.97  39.1288  104.9012  530.7000  39.3566  101.6837
2015-01-28  109.6996  522.78  38.9375  110.1612  522.9900  38.9831  107.5406
2015-01-29  108.4825  511.00  37.2886  111.1591  511.0900  38.3727  107.7737
2015-01-30  110.4224  515.86  37.8534  111.9145  539.8700  37.8807  108.9768
2015-02-02  110.0959  531.73  36.9788  111.1405  533.0000  37.6894  108.2587
2015-02-03  110.5156  528.00  37.9263  111.0659  533.4000  38.1996  109.6856
2015-02-04  110.5156  529.24  38.2087  112.3902  532.6715  38.4547  110.3375
2015-02-05  112.3749  523.79  38.4638  112.5716  528.5000  38.8464  111.6540
2015-02-06  112.3749  527.64  38.8829  112.5903  537.2000  38.9831  110.9049
2015-02-09  110.9986  528.00  38.4820  112.2064  532.0000  38.9375  110.8862
2015-02-10  112.5154  529.30  38.9375  114.3693  537.7000  38.9649  112.5060
2015-02-11  114.9498  535.30  38.8555  116.9628  538.4500  38.8555  114.6970
2015-02-12  118.0302  537.25  38.8646  119.3598  544.8200  39.2564  117.5714
2015-02-13  119.1725  543.35  39.5206  119.1725  549.9100  39.9670  117.6463
...              ...     ...      ...       ...       ...      ...       ...
2016-11-17  106.4735  766.92  58.0851  106.9971  772.7000  58.6043  105.5232
2016-11-18  106.3862  771.37  58.4408  107.1813  775.0000  58.7870  106.3280
2016-11-21  106.7741  762.61  58.1716  108.5872  769.7000  58.6235  106.6674
2016-11-22  108.5484  772.63  58.6331  109.0042  776.9600  58.9024  108.0152
2016-11-23  107.9764  767.73  58.6620  108.1218  768.2825  58.7485  106.9777
2016-11-25  107.7534  764.26  57.9793  108.4709  765.0000  58.2004  107.5788
2016-11-28  108.0442  760.00  58.0178  109.0478  779.5300  58.6716  108.0055
2016-11-29  107.4140  771.53  58.3158  108.6260  778.5000  59.0466  106.7256
2016-11-30  108.2091  770.07  58.5177  108.7908  772.9900  58.8254  106.9195
2016-12-01  107.0116  757.44  57.7966  107.5691  759.8500  57.8351  105.7172
2016-12-02  105.8529  744.59  56.8062  106.7450  754.0000  57.1812  105.5426
2016-12-05  106.6577  757.71  57.4024  106.6868  763.9000  58.2533  104.9609
2016-12-06  106.1729  764.73  58.1043  107.0068  768.8300  58.1331  105.8723
2016-12-07  105.9402  761.00  57.7005  107.8115  771.3600  59.0177  105.8432
2016-12-08  107.4916  772.48  58.9408  109.0139  778.1800  59.2100  107.2395
2016-12-09  108.8975  780.00  58.8254  111.2149  789.4300  59.6043  108.8975
2016-12-12  109.8477  785.04  59.4408  111.5058  791.2500  59.9023  109.0720
2016-12-13  110.3810  793.90  60.0946  112.3978  804.3799  60.9792  110.2938
2016-12-14  111.5446  797.40  60.5754  112.6693  804.0000  61.0081  111.4864
2016-12-15  111.8742  797.34  60.2869  113.1832  803.0000  60.7230  111.7288
2016-12-16  112.9311  800.40  60.5273  112.9602  800.8558  60.5273  112.1312
2016-12-19  112.2815  790.22  60.1523  113.8135  797.6600  61.3158  112.2330
2016-12-20  113.1929  796.76  61.2388  113.9298  798.6500  61.3446  113.1347
2016-12-21  113.2511  795.84  60.9888  113.8328  796.6757  61.2484  113.2317
2016-12-22  112.8148  792.36  61.3831  112.9699  793.3200  61.6331  112.1263
2016-12-23  112.0778  790.90  61.0081  112.9796  792.7400  61.0946  112.0778
2016-12-27  112.9796  790.68  60.7773  114.2207  797.8600  61.6042  112.9505
2016-12-28  113.9492  793.70  60.9600  114.4307  794.2300  60.9600  112.6693
2016-12-29  112.9117  783.33  60.4408  113.5512  785.9300  60.7677  112.8632
2016-12-30  113.1056  782.75  60.5369  113.6389  782.7800  60.5658  111.9227

Attributes                        close                      volume           \
Symbols         GOOG     MSFT      AAPL    GOOG     MSFT       AAPL     GOOG
date
2015-01-02  524.1000  42.3994  101.9635  524.81  42.5999   53204626  1446662
2015-01-05  513.0600  42.1352   99.0910  513.87  42.2036   64285491  2054238
2015-01-06  501.0500  41.4884   99.1003  501.96  41.5886   65797116  2891950
2015-01-07  499.6500  41.4429  100.4899  501.10  42.1170   40105934  2059366
2015-01-08  491.0000  42.5634  104.3510  502.68  43.3560   59364547  3344395
2015-01-09  494.7900  42.7274  104.4629  496.17  42.9916   53699527  2065715
2015-01-12  487.5600  42.2355  101.8889  492.55  42.4541   49650790  2320446
2015-01-13  492.3900  41.9622  102.7935  496.18  42.2309   67091928  2365687
2015-01-14  493.0000  41.5613  102.4018  500.87  41.8665   48956588  2229638
2015-01-15  497.7600  41.3700   99.6226  501.79  41.4338   60013996  2711355
2015-01-16  500.0000  41.1513   98.8485  508.08  42.1261   78513345  2292043
2015-01-20  506.0160  41.5157  101.3946  506.90  42.2628   49899907  2225922
2015-01-21  506.2000  41.4338  102.1687  518.04  41.8346   48575897  2262455
2015-01-22  519.7000  41.9804  104.8266  534.39  42.9370   53796409  2669558
2015-01-23  533.0000  42.6363  105.3675  539.95  42.9825   46464828  2275485
2015-01-26  529.6700  42.1260  105.4795  535.21  42.8276   55614979  1539524
2015-01-27  518.1900  38.3590  101.7863  518.63  38.8646   95568749  1898844
2015-01-28  510.0000  37.4981  107.5406  510.00  37.5254  146477063  1679230
2015-01-29  501.2000  37.1610  110.8887  510.66  38.2725   84436432  4174924
2015-01-30  515.5200  36.7602  109.2659  534.52  36.8057   83745461  5590977
2015-02-02  518.5500  36.6508  110.6369  528.48  37.6074   62739100  2841976
2015-02-03  523.2600  37.3933  110.6555  529.24  37.8989   51915749  2033085
2015-02-04  521.2700  37.6803  111.5042  522.76  38.1176   70149743  1659125
2015-02-05  522.0900  38.1313  112.3000  527.58  38.6733   42246245  1844687
2015-02-06  526.4100  38.4000  111.3544  531.00  38.6369   43706567  1758650
2015-02-09  526.0200  38.4547  112.0941  527.83  38.5913   38889797  1264276
2015-02-10  526.9200  38.4273  114.2475  536.94  38.8100   62008506  1745076
2015-02-11  533.3775  38.4547  116.9254  535.97  38.6096   73561797  1373970
2015-02-12  534.6730  38.7280  118.4047  542.93  39.2564   74474466  1615824
2015-02-13  543.1300  39.3110  118.9852  549.01  39.9670   54272219  1895126
...              ...      ...       ...     ...      ...        ...      ...
2016-11-17  764.2300  57.6572  106.6092  771.23  58.3062   27632003  1304048
2016-11-18  760.0000  57.9793  106.7159  760.54  58.0274   28428917  1547145
2016-11-21  760.6000  58.0947  108.3351  769.20  58.5177   29264571  1330639
2016-11-22  767.0000  58.4649  108.4030  768.27  58.7677   25965534  1593108
2016-11-23  755.2500  57.9312  107.8503  760.99  58.0754   27426394  1478417
2016-11-25  760.5200  57.8158  108.3933  761.68  58.2004   11475922   587421
2016-11-28  759.8000  57.8928  108.1800  768.24  58.2774   27193983  2188151
2016-11-29  768.2400  58.1908  108.0733  770.84  58.7389   28528750  1616618
2016-11-30  754.8300  57.8976  107.1619  758.04  57.9408   36162258  2392890
2016-12-01  737.0245  56.6668  106.1632  747.92  56.9216   37086862  3017947
2016-12-02  743.1000  56.5370  106.5607  750.50  56.9697   26527997  1452484
2016-12-05  752.9000  57.2678  105.7947  762.52  57.9024   34324540  1394223
2016-12-06  757.3400  57.4985  106.6092  759.11  57.6428   26195462  1690689
2016-12-07  755.8000  57.4985  107.6564  771.19  59.0081   29998719  1760966
2016-12-08  767.2300  58.4985  108.7133  776.42  58.6620   27068316  1488059
2016-12-09  779.0210  58.7725  110.4877  789.29  59.5850   34402627  1821914
2016-12-12  784.3554  59.3446  109.8574  789.27  59.7773   26374377  2104117
2016-12-13  793.3400  59.8446  111.6900  796.10  60.5562   43733811  2145209
2016-12-14  794.0100  60.1235  111.6900  797.07  60.2677   34031834  1704150
2016-12-15  792.9200  59.9023  112.3009  797.85  60.1715   46524544  1626499
2016-12-16  790.2900  59.7244  112.4463  790.80  59.9023   44351134  2443796
2016-12-19  786.2700  60.0177  113.0959  794.20  61.1715   27779423  1232087
2016-12-20  793.2700  60.5994  113.3965  796.42  61.0946   21424965   951014
2016-12-21  787.1000  60.6908  113.5032  794.56  61.0946   23783165  1211346
2016-12-22  788.5800  60.9648  112.7566  791.26  61.1042   26085854   972169
2016-12-23  787.2800  60.3831  112.9796  789.91  60.8061   14249484   623944
2016-12-27  787.6570  60.7773  113.6971  791.55  60.8446   18296855   789321
2016-12-28  783.2000  60.4119  113.2123  785.05  60.5658   20905892  1153824
2016-12-29  778.9200  60.3158  113.1832  782.79  60.4792   15039519   744272
2016-12-30  770.4100  59.6427  112.3009  771.82  59.7485   30586265  1769950

Attributes
Symbols          MSFT
date
2015-01-02   27913852
2015-01-05   39673865
2015-01-06   36447854
2015-01-07   29114061
2015-01-08   29645202
2015-01-09   23944181
2015-01-12   23651887
2015-01-13   35270601
2015-01-14   29719580
2015-01-15   32750779
2015-01-16   35695289
2015-01-20   36161860
2015-01-21   39081143
2015-01-22   35898035
2015-01-23   26211594
2015-01-26   42525530
2015-01-27  169163953
2015-01-28   84507078
2015-01-29   63585273
2015-01-30   78004944
2015-02-02   50352532
2015-02-03   52082448
2015-02-04   41614812
2015-02-05   36548168
2015-02-06   34616554
2015-02-09   31381061
2015-02-10   29670676
2015-02-11   38262509
2015-02-12   33268831
2015-02-13   40264887
...               ...
2016-11-17   32132728
2016-11-18   27686311
2016-11-21   19652595
2016-11-22   23206700
2016-11-23   21848913
2016-11-25    8409616
2016-11-28   20732619
2016-11-29   22366721
2016-11-30   34655435
2016-12-01   34542121
2016-12-02   25515665
2016-12-05   23552658
2016-12-06   19907035
2016-12-07   30808969
2016-12-08   21220753
2016-12-09   27349356
2016-12-12   20198081
2016-12-13   35718868
2016-12-14   30352654
2016-12-15   27669868
2016-12-16   42453083
2016-12-19   34338219
2016-12-20   26028379
2016-12-21   17096304
2016-12-22   22176585
2016-12-23   12403819
2016-12-27   11763173
2016-12-28   14653348
2016-12-29   10250582
2016-12-30   25579908

[504 rows x 15 columns]

In [12]:
aapl_close = panel_data['close']['AAPL']

In [13]:
aapl_close

date
2015-01-02    101.9635
2015-01-05     99.0910
2015-01-06     99.1003
2015-01-07    100.4899
2015-01-08    104.3510
2015-01-09    104.4629
2015-01-12    101.8889
2015-01-13    102.7935
2015-01-14    102.4018
2015-01-15     99.6226
2015-01-16     98.8485
2015-01-20    101.3946
2015-01-21    102.1687
2015-01-22    104.8266
2015-01-23    105.3675
2015-01-26    105.4795
2015-01-27    101.7863
2015-01-28    107.5406
2015-01-29    110.8887
2015-01-30    109.2659
2015-02-02    110.6369
2015-02-03    110.6555
2015-02-04    111.5042
2015-02-05    112.3000
2015-02-06    111.3544
2015-02-09    112.0941
2015-02-10    114.2475
2015-02-11    116.9254
2015-02-12    118.4047
2015-02-13    118.9852
                ...
2016-11-17    106.6092
2016-11-18    106.7159
2016-11-21    108.3351
2016-11-22    108.4030
2016-11-23    107.8503
2016-11-25    108.3933
2016-11-28    108.1800
2016-11-29    108.0733
2016-11-30    107.1619
2016-12-01    106.1632
2016-12-02    106.5607
2016-12-05    105.7947
2016-12-06    106.6092
2016-12-07    107.6564
2016-12-08    108.7133
2016-12-09    110.4877
2016-12-12    109.8574
2016-12-13    111.6900
2016-12-14    111.6900
2016-12-15    112.3009
2016-12-16    112.4463
2016-12-19    113.0959
2016-12-20    113.3965
2016-12-21    113.5032
2016-12-22    112.7566
2016-12-23    112.9796
2016-12-27    113.6971
2016-12-28    113.2123
2016-12-29    113.1832
2016-12-30    112.3009
Name: AAPL, Length: 504, dtype: float64

In [17]:
pickle_testing = pickle.load(open("pickle_testing", "rb"))

In [18]:
pickle_testing

               AMZN        SMA        upper        lower
date
2017-04-24   907.41        NaN          NaN          NaN
2017-04-25   907.62        NaN          NaN          NaN
2017-04-26   909.29        NaN          NaN          NaN
2017-04-27   918.38        NaN          NaN          NaN
2017-04-28   924.99        NaN          NaN          NaN
2017-05-01   948.23        NaN          NaN          NaN
2017-05-02   946.94        NaN          NaN          NaN
2017-05-03   941.03        NaN          NaN          NaN
2017-05-04   937.53        NaN          NaN          NaN
2017-05-05   934.15        NaN          NaN          NaN
2017-05-08   949.04        NaN          NaN          NaN
2017-05-09   952.82        NaN          NaN          NaN
2017-05-10   948.95        NaN          NaN          NaN
2017-05-11   947.62        NaN          NaN          NaN
2017-05-12   961.35        NaN          NaN          NaN
2017-05-15   957.97        NaN          NaN          NaN
2017-05-16   966.07        NaN          NaN          NaN
2017-05-17   944.76        NaN          NaN          NaN
2017-05-18   958.49        NaN          NaN          NaN
2017-05-19   959.84   941.1240   978.056960   904.191040
2017-05-22   970.67   944.2870   979.873656   908.700344
2017-05-23   971.54   947.4830   980.599752   914.366248
2017-05-24   980.35   951.0360   982.082569   919.989431
2017-05-25   993.38   954.7860   987.307490   922.264510
2017-05-26   995.78   958.3255   992.556819   924.094181
2017-05-30   996.70   960.7490   998.638552   922.859448
2017-05-31   994.62   963.1330  1003.296018   922.969982
2017-06-01   995.95   965.8790  1007.173006   924.584994
2017-06-02  1006.73   969.3390  1012.198335   926.479665
2017-06-05  1011.34   973.1985  1016.613961   929.783039
...             ...        ...          ...          ...
2018-03-09  1578.89  1485.7765  1601.552344  1370.000656
2018-03-12  1598.39  1498.7160  1602.977651  1394.454349
2018-03-13  1588.18  1508.8135  1606.088318  1411.538682
2018-03-14  1591.00  1517.6380  1610.827550  1424.448450
2018-03-15  1582.32  1524.2015  1616.126638  1432.276362
2018-03-16  1571.68  1529.6975  1619.010366  1440.384634
2018-03-19  1544.93  1534.5095  1615.420693  1453.598307
2018-03-20  1586.51  1540.4175  1618.182780  1462.652220
2018-03-21  1581.86  1545.3645  1620.264287  1470.464713
2018-03-22  1544.92  1548.3435  1617.727503  1478.959497
2018-03-23  1495.56  1548.1215  1618.181899  1478.061101
2018-03-26  1555.86  1549.8170  1618.844264  1480.789736
2018-03-27  1497.05  1549.0705  1620.114145  1478.026855
2018-03-28  1431.42  1545.0190  1632.253087  1457.784913
2018-03-29  1447.34  1542.7135  1637.772487  1447.654513
2018-04-02  1371.99  1536.3005  1657.211808  1415.389192
2018-04-03  1392.05  1529.7225  1666.777688  1392.667312
2018-04-04  1410.57  1523.3690  1670.303919  1376.434081
2018-04-05  1451.75  1518.7065  1668.638756  1368.774244
2018-04-06  1405.23  1511.3750  1668.641941  1354.108059
2018-04-09  1406.08  1502.7345  1663.336543  1342.132457
2018-04-10  1436.22  1494.6260  1651.218718  1338.033282
2018-04-11  1427.05  1486.5695  1639.431390  1333.707610
2018-04-12  1448.50  1479.4445  1624.916756  1333.972244
2018-04-13  1430.79  1471.8680  1610.398762  1333.337238
2018-04-16  1441.50  1465.3590  1596.161065  1334.556935
2018-04-17  1503.83  1463.3040  1590.071602  1336.536398
2018-04-18  1527.84  1460.3705  1577.481052  1343.259948
2018-04-19  1556.91  1459.1230  1571.208248  1347.037752
2018-04-20  1527.49  1458.2515  1567.769554  1348.733446

[251 rows x 4 columns]

In [19]:
pickle_testing.describe()

              AMZN          SMA        upper        lower
count   251.000000   232.000000   232.000000   232.000000
mean   1146.279482  1141.978211  1207.742578  1076.213844
std     209.439445   199.577531   228.761601   174.281349
min     907.410000   941.124000   978.056960   904.191040
25%     977.370000   981.938625  1017.898551   939.231962
50%    1026.870000  1015.461250  1115.880824   963.216285
75%    1316.255000  1279.815250  1416.331178  1147.199662
max    1598.390000  1549.817000  1670.303919  1480.789736

In [20]:
pickle_testing.describe()["AMZN"]

count     251.000000
mean     1146.279482
std       209.439445
min       907.410000
25%       977.370000
50%      1026.870000
75%      1316.255000
max      1598.390000
Name: AMZN, dtype: float64

In [22]:
type(pickle_testing.describe()["AMZN"])

pandas.core.series.Series